#### 1. Write a Python program to convert kilometers to miles?

In [3]:
km=int(input('Enter kilometers : '))
miles=km*0.621371
print(km,'km =',miles,'miles')

Enter kilometers : 50
50 km = 31.068550000000002 miles

#### 2. Write a Python program to convert Celsius to Fahrenheit?

In [4]:
C=int(input('Enter Celsius : '))
F=C*1.8+32
print(C,'째C =',F,'째F')

Enter Celsius : 25
25 째C = 77.0 째F

#### 3. Write a Python program to display calendar?

In [8]:
import calendar
y=int(input('Enter year : '))
m=int(input('Enter month : '))
print(calendar.calendar(y))
print(calendar.month(y,m))

Enter year : 2022
Enter month : 11
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

   November 2022
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

#### 4. Write a Python program to solve quadratic equation?

In [12]:
import cmath
a=int(input("enter first coefficients of quadratic equation :"))
b=int(input("enter second coefficients of quadratic equation :"))
c=int(input("enter  third coefficients of quadratic equation :"))
d=(b*b)-(4*a*c)
print("one root is:",(-b-cmath.sqrt(d))/(2*a))
print("second root is:",(-b+cmath.sqrt(d))/(2*a))

enter first coefficients of quadratic equation :2
enter second coefficients of quadratic equation :6
enter  third coefficients of quadratic equation :10
one root is: (-1.5-1.6583123951777j)
second root is: (-1.5+1.6583123951777j)

#### 5. Write a Python program to swap two variables without temp variable?

In [13]:
a=int(input("enter first number :"))
b=int(input("enter second number:"))
print("Before swap :",a,b)
a=a*b
b=a//b
a=a//b
print("After swap :",a,b)

enter first number :10
enter second number:20
Before swap : 10 20
After swap : 20 10